.content{
background-color: lightgreen;
color: brown;
}

@media screen and (max-width: 500px) {
    .content{ background-color: yellow;
        color: purple;
    }

    
}
@media screen and( max-width: 800){
.content{background-color: red;
    color: peachpuff;

}
}
 
    
